html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a,
button {
  -webkit-appearance: none;
}

/* Headings */
h1 {
  font-family: "Dancing Script", cursive;
}

h2 {
  text-align: center;
  font-size: 3em;
  font-family: "Dancing Script", cursive;
}

h3 {
  font-size: 2em;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
}

h4 {
  font-size: 1.6em;
  font-family: "Dancing Script", cursive;
  font-weight: 400;
}

/* Nav */

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  height: 100%;
  width: 300px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 999;
  transition: all 0.5s;
}

.hidden {
  left: -350px !important;
  transition: all 0.5s;
}

#nav-menu > ul {
  margin-top: 50px;
  padding-left: 0;
  list-style: none;
}

#nav-menu > ul > a {
  display: block;
  margin: 10px 0;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

#nav-menu > ul > a:visited {
  color: black;
}

#nav-menu > ul > a:hover {
  background: white;
  border: 1px solid black;
  transition: 0.3s;
}

#nav-menu > .rsvp {
  width: 100%;
}

#nav-toggle-open {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  width: 120px;
  font-size: 1em;
  border: none;
  border-radius: 20px;
  z-index: 998;
  font-family: "Quicksand", sans-serif;
  opacity: 0.8;
  transition: all 0.5s;
}

.nav-toggle-close {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  width: 120px;
  font-size: 1em;
  border: none;
  border-radius: 20px;
  font-family: "Quicksand", sans-serif;
  transition: all 0.5s;
}

/* Page layout */

#main {
  display: flex;
}

#image-container {
  position: fixed;
  background: url("/assets/images/Wil\ Erin\ Engagement\ Party.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 61%;
}

.image-overlay {
  display: flex;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7);
  justify-content: center;
  align-items: center;
}

.image-overlay h1 {
  color: #01653b;
  font-family: "Dancing Script", cursive;
  font-weight: unset;
  text-align: center;
  font-size: 3em;
}

.content-container {
  background: url("/assets/images/Wildflowers\ border.png");
  background-position: center;
  height: 100vh;
  width: 39%;
  margin-left: 61%;
}

/* Landing */

#landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#landing p {
  font-size: 1.6em;
  font-family: "Dancing Script", cursive;
  line-height: 1.6em;
  margin-top: 0;
}

#landing > .landing-date {
  font-size: 2.2em;
  margin-bottom: 10px;
}

#countdownTimer {
  font-size: 1.4em;
  font-family: "Quicksand", sans-serif;
}

.rsvp {
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  margin-top: 30px;
  padding: 15px 30px;
  background-color: #d1e2be;
  border: 2px solid #8a957d;
  border-radius: 10px;
  transition: 0.3s;
  color: black;
}

.rsvp:hover {
  transition: 0.3s;
  background-color: #f3c9e9;
  border-color: #c09eb8;
  cursor: pointer;
}

/* Section */

.section {
  padding: 0 100px;
  margin: 100px 0;
}

.section p {
  text-align: left;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2em;
}

.section ul {
  list-style-type: none;
  padding: unset;
}

.section ul li {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2em;
  padding-left: 40px;
  margin: 20px;
  background-image: url(/assets/images/Pink\ flower\ bulletpoint.jpg);
  background-position: 0 5px;
  background-size: 1em;
  background-repeat: no-repeat;
}

/* Story */

/* Location */

/* On the day */
.swatch-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.swatch {
  width: 20%;
  height: auto;
  padding-bottom: 20%;
  margin-left: 5%;
  margin-top: 20px;
}

/* Wedding Party */
.profile-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.profile {
  display: flex;
  width: 40%;
  margin: 5%;
  flex-direction: column;
}

.profile img {
  width: 100%;
  border-radius: 50%;
}

.profile h4 {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  margin-top: 16px;
}

/* RSVP section*/
.rsvp-content {
  height: unset;
  width: 100% !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.rsvp-form {
  width: 60%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
}

.rsvp-form h2 {
  text-align: center;
  color: #01653b;
}

.rsvp-form p {
  font-size: 1.2em;
  font-family: "Quicksand", sans-serif;
}

input,
textarea {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
}

textarea {
  min-height: 300px;
}

/* Mobile styling */

@media only screen and (max-width: 1200px) {
  .section {
    padding: 15px;
  }
}

@media only screen and (max-width: 768px) {
  #main {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
  }
  #image-container {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  .content-container {
    height: 100vh;
    width: 100%;
    margin-left: unset;
  }
  .section {
    padding: 50px;
  }
}
