html {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/* Headings */
h2 {
  text-align: center;
  font-size: 3em;
  font-family: "Dancing Script", cursive;
}

/* Page layout */

#main {
  display: flex;
}

#image-container {
  position: fixed;
  background: url("/assets/images/Wil\ Erin\ Engagement\ Party.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 61%;
}

.content-container {
  background: url("/assets/images/Wildflowers\ border.png");
  background-position: center;
  height: 100vh;
  width: 39%;
  margin-left: 61%;
}

/* Landing */

#landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#landing p {
  font-size: 1.6em;
  font-family: "Dancing Script", cursive;
  line-height: 1.6em;
  margin-top: 0;
}

#countdownTimer {
  font-size: 1.4em;
  font-family: "Quicksand", sans-serif;
}

.rsvp {
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  margin-top: 30px;
  padding: 15px 30px;
  background-color: #d1e2be;
  border: 2px solid #8a957d;
  border-radius: 10px;
  transition: 0.3s;
}

.rsvp:hover {
  transition: 0.3s;
  background-color: #f3c9e9;
  border-color: #c09eb8;
  cursor: pointer;
}

/* Story */

#story {
  padding: 0 50px;
  margin: 100px 0;
}

#story p {
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2em;
}

/* Location */

#location {
  padding: 0 50px;
  margin: 100px 0;
}

#location p {
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2em;
}
